.miner-skeleton {
  display: inline-block;
  vertical-align: top;
  background: rgba(190, 190, 190, 0.6);
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-top: 16px;
  margin-left: 16px;
  &.is-active {
    background: linear-gradient(
      45deg,
      rgba(190, 190, 190, 0.2) 25%,
      rgba(129, 129, 129, 0.24) 37%,
      rgba(190, 190, 190, 0.2) 63%
    );
    background-size: 300% 100%;
    animation: minerSkeleton 1.4s ease infinite;
  }
  &.miner-skeleton__line {
    width: 100%;
    height: 16px;

    border-radius: 4px;
  }
  &.miner-skeleton__round {
    width: 16px;
    height: 16px;

    border-radius: 50%;
  }
}
